:root {
	--primary-color: #00A3EB;
	--secondary-color: #33B5EF;
	--background-color: #E5F7FF;
	--text-color: #333;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--text-color);
}

header {
	background-color: var(--primary-color);
	color: #fff;
	padding: 2em 0;
	text-align: center;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header img {
	max-width: px;
	margin-bottom: 15px;
}

header div {
	font-size: 32px;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
	header img {
		max-width: 200px;
	}

	header div {
		font-size: 28px;
	}
}

main {
	max-width: 500px;
	margin: 20px auto;
	padding: 0 15px;
}

section {
	background-color: #fff;
	margin: 1.5em 0;
	padding: 1.5em;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h2 {
	font-size: 18px;
	color: var(--primary-color);
	border-bottom: 2px solid var(--secondary-color);
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.input {
	width: 95%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

input[type="file"] {
	display: none;
}

.step-number {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: var(--primary-color);
	color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 24px;
	margin-right: 10px;
}

.custom-file-upload, button {
	display: block;
	width: 150px;
	margin: 0 auto;
	padding: 10px 20px;
	cursor: pointer;
	background-color: var(--primary-color);
	color: white;
	border-radius: 4px;
	font-size: 16px;
	text-align: center;
	border: none;
	transition: background-color 0.3s ease;
}


.custom-file-upload:hover, button:hover {
	background-color: var(--primary-color);
}

#myCanvas {
	display: block;
	margin: 20px auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.info-text {
	font-style: italic;
	color: #666;
	margin-bottom: 15px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	list-style: none;
	margin-bottom: 10px;
	line-height: 1.6;
}

a {
	color: var(--secondary-color);
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: var(--primary-color);
	text-decoration: underline;
}